.myCarousel {
    text-align: center;
    width: auto;
}
.imgCarousel {
    height: auto;
}
.imgCarousel {
    height: auto;
}
.carousel_____container {
    height: 30vw;
}
.carousel_____image-container-wrapper {
    height: auto;
}

.carousel_____image-container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.myCarousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
