.sellingHeader {
    display: flex;
    width: 100%;
    gap: 5%;
    padding: 1% 0%;
    background-color: white;
    border-top: 1px solid rgb(106, 106, 106, 0.3);
    border-bottom: 1px solid rgb(106, 106, 106, 0.3);
}
